HTTP_ADDR=:8080
LOG_LEVEL=info

DATABASE_URL=postgres://kammer_kompass:kammer_kompass@localhost:5432/kammer_kompass?sslmode=disable

REDIS_ADDR=localhost:6379

# hashing salt
SERVER_SECRET_SALT=

# openssl rand -base64 32
SESSION_AUTH_KEY=
SESSION_ENC_KEY=
SESSION_COOKIE_NAME=
SESSION_SECURE=false

APP_BASE_URL=http://localhost:3000
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_EMAIL_FROM=
